.loader {
	margin: 0 auto;
	animation-name: scale;
	animation-duration: 1s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes scale {
	from {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.4);
	}
	to {
		transform: scale(1.1);
	}
}
