@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 30px;
}

.custom-container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0px 1rem;
}

.gradient-bg {
	background: linear-gradient(#13a2ce, #dcf4f8);
}

.date-input {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem 1.2rem;
	display: inline-block;
	outline: none;
	border: 2px solid #13a2ce;
	border-radius: 0.4rem;
}

.flex-50 {
	flex: 0 0 50%;
}

.activeBtn {
	background: #13a2ce;
	color: white;
	transition: all 0.2s ease-in-out;
}
